.media .media-body {
  margin-left: 10px;
}
.media .media-body h3 {
  margin-left: 0;
}

.material-icons.pmd-icon-md,
.material-icons-round.pmd-icon-md {
  display: inline-flex;
  font-size: 36px;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/material-font.woff2) format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "Material Icons Rounded";
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/material-font-rounded.woff2) format("woff2");
}

.material-icons-round {
  font-family: "Material Icons Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "Material Icons Outlined";
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/material-font-outlined.woff2) format("woff2");
}

.material-icons-outlined {
  font-family: "Material Icons Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h3.pmd-stepper-title {
  margin: 0;
}

.btn-xs,
.btn-group-sm > .btn {
  padding: 0.15rem 0.3rem;
  font-size: 0.675rem;
  line-height: 1;
  border-radius: 0.1rem;
}

.btn-xs + .dropdown-toggle-split,
.btn-group-sm > .btn + .dropdown-toggle-split {
  padding-right: 0.275rem;
  padding-left: 0.275rem;
}

.btn-grey {
  color: #9a9c9e;
  background-color: #a5abb1;
  background-color: #d3d5d6;
}

.btn-grey.pmd-btn-flat {
  color: #c1c2c4;
  background-color: transparent;
  border-color: transparent;
}

.btn-FAILED {
  color: #fff;
  background-color: #ff5722;
  border-color: #ff5722;
}

.btn-FAILED.pmd-btn-flat,
.btn-failed.pmd-btn-flat {
  color: #ff5722;
  background-color: transparent;
  border-color: transparent;
}

.table.jobtbl {
  max-height: 500px;
}
