html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",
    Arial, sans-serif;
  font-size: 0.875em;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-blue {
  background-color: #027bc7;
  height: 55px;
  display: flex;
  flex-wrap: nowrap;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-grey {
  background-color: #f3f3f5;
  height: 55px;
  display: flex;
  flex-wrap: nowrap;
}

nav.navbar .navbar-brand {
  vertical-align: middle;
  font-weight: 100;
  font-size: 26px;
  height: 45px;
  line-height: 45px;
  box-sizing: border-box;
  color: #fff;
  letter-spacing: -1.5px;
}

.navbar-brand * {
  -webkit-font-smoothing: initial !important;
  -moz-osx-font-smoothing: initial !important;
}

.btn-grey {
  color: #027bc7;
  background-color: #f1f1f1;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/material-font.woff2) format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "Material Icons Rounded";
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/material-font-rounded.woff2) format("woff2");
}

.material-icons-round {
  font-family: "Material Icons Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "Material Icons Outlined";
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/material-font-outlined.woff2) format("woff2");
}

.material-icons-outlined {
  font-family: "Material Icons Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.btn-grey {
  color: #787a7c;
  background-color: transparent;
  padding: 0 0.25rem;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: 0.125rem;
}

.material-icons.pmd-md {
  font-size: 30px;
}

nav.navbar .navbar-brand.dark {
  color: "#787a7c";
}

.btn.pmd-btn-fab.pmd-btn-outline.btn-primary {
  font-weight: 200;
  color: #4285f4;
  border-color: #989292;
  background-color: transparent;
}

.btn.pmd-btn-fab.pmd-btn-outline.btn-grey {
  font-weight: 200;
  color: "#989292;";
  border-color: #989292;
  /* background-color: transparent; */
}

.status-success {
  color: rgb(111, 180, 111) !important;
}

.status-failed {
  color: rgb(201, 53, 48) !important;
}

.status-unknown {
  color: rgb(149, 153, 149) !important;
}

div.app-wrapper {
  max-width: "1000px";
  margin: "auto";
}